@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DashBoardWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DashBoardWebApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <!-- Giriş yapmış kullanıcılar için Profilim linki -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Kullanici" asp-action="Profile" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Profilim</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="Myevents">Etkinliklerim</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="GetRecommendations">Öneriler</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="GeneralEvents">Genel Etkinlikler</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="ShowJoinedEvents">Katıldığım Etkinlikler</a>
                            </li>
                        }
                    </ul>

                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <!-- Admin menüsüne özel linkler -->
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Kullanici" asp-action="ShowUsers">Kullanıcılar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="ManageEvents">Etkinlikleri Yönet</a>
                                </li>
                            }

                            <!-- Giriş yapmış kullanıcılar için -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Kullanici" asp-action="Logout">Çıkış Yap</a>
                            </li>
                        }
                        else
                        {
                            <!-- Giriş yapmamış kullanıcılar için Giriş Yap ve Kayıt Ol -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Kullanici" asp-action="Login">Giriş Yap</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Kullanici" asp-action="Register">Kayıt Ol</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @if (User.Identity.IsAuthenticated)
    {
        <script src="~/js/autoLogout.js"></script>
    }
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
