@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="jumbotron text-center mt-4">
    <h1 class="display-4">DashBoard Uygulamasına Hoş Geldiniz!</h1>
    <p class="lead">Kullanıcılar için etkinliklere katılma, mesajlaşma ve puan toplama gibi birçok işlev sunuyoruz.</p>
    <hr class="my-4">
</div>

<div class="container mt-5">
    <h2>Özellikler</h2>
    <div class="row">
        <div class="col-md-4">
            <h4>Etkinliklere Katılma</h4>
            <p>Birçok farklı etkinliğe katılabilir, diğer kullanıcılarla bağlantı kurabilirsiniz.</p>
        </div>
        <div class="col-md-4">
            <h4>Mesajlaşma</h4>
            <p>Diğer kullanıcılarla kolayca mesajlaşabilir, iletişiminizi güçlendirebilirsiniz.</p>
        </div>
        <div class="col-md-4">
            <h4>Puan Toplama</h4>
            <p>Etkinliklere katılarak veya belirli görevleri tamamlayarak puanlar kazanabilirsiniz.</p>
        </div>
    </div>
</div>
