html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.admin-background {
  background-color: #f8f9fa; /* Açık gri */
  min-height: 100vh; /* Tam sayfa boyu */
}

.navbar-admin {
  background-color: #6c757d; /* Daha koyu gri */
  color: white;
}
.navbar-admin a {
  color: white; /* Navbar bağlantı rengi */
}
.navbar-admin a:hover {
  color: #f8f9fa; /* Hover rengi */
}
